<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">LightDNA Tester</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
        <!-- <button  ng-click="ConectarMQTT()" id="lightDNATester-ConectBut" class=" button button-positive  button-block">Conectar</button> -->
            <ion-list id="lightDNATester-list1">
                <ion-item id="lightDNATester-list-item1" ui-sref="lightDNATester.listaDeDispositivos" menu-close="">Lista de Dispositivos</ion-item>
                <ion-item id="lightDNATester-list-item2" ui-sref="lightDNATester.testeGeral" menu-close="">Teste Geral</ion-item>
                <ion-item id="lightDNATester-list-item3" ui-sref="lightDNATester.testeUnitRio" menu-close="">Teste Unitário</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>