<ion-view title="Lista de Dispositivos" id="page1" style="background-color:#F6F6F6;">
    <ion-content padding="true" class="has-header">
    	<button ng-click="botconectar()" id="listaDeDisp-SearchBut" class=" button button-positive  button-block">Conectar</button>
    	<ion-list id="listaDeDispositivos-list1">
            <ion-item id="listaDeDispositivos-list-item4">Item 1</ion-item>
            <ion-item id="listaDeDispositivos-list-item5">Item 2</ion-item>
            <ion-item id="listaDeDispositivos-list-item6">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>