<ion-view title="Teste Unitário" id="page3">
    <ion-content padding="true" class="has-header">
        <form id="testeUnitRio-form6" class="list ">
            <label class="item item-select " id="testeUnitRio-select1">
                <span class="input-label">Select</span>
                <select></select>
            </label>
        </form>
        <button id="testeUnitRio-button5" class=" button button-positive  ">Iniciar Teste</button>
        <div id="testeUnitRio-markdown3" style="color:#000000;">
            <p>Resultado do Teste</p>
        </div>
        <button id="testeUnitRio-button8" class=" button button-balanced  ">OK</button>
        <button id="testeUnitRio-button10" class=" button button-assertive  ">Falhou</button>
    </ion-content>
</ion-view>